.page-container.login {
  @include container-centered(30rem, 1em);

  .login-form {
    .form-title {
      text-align: center;
    }

    .form-item {
      --background-focused: transparent;
      .input-field {
        @include input-field;
      }
    }

    .login-button {
      @include blue-button;
      width: 100%;
    }
  }
  .signup-section {
    text-align: center;
    .signup-button {
      @include blue-button;
      width: 100%;
    }
  }
}
