.page-container.platform-trend {
  .platform-chart {
    path.lines {
      cursor: pointer;
    }
    path.region {
      cursor: pointer;
    }
    text.regionChart {
      fill: var(--color-grey);
      font-weight: normal;
      font-size: 1em;
    }
    text.onRegionAvg {
      font-weight: normal;
      font-size: 0.5em;
      cursor: pointer;
    }
    .legend-container {
      width: 100%;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      p {
        margin: 1em;
        @media only screen and (max-width: 767px) {
          margin: 0.5em;
        }
      }
    }
  }
}
