.footer {
  .footer-toolbar {
    --background: var(--color-footer);
    --min-height: 0 !important;
    --max-height: 50px !important;
    min-height: 0 !important;
    max-height: 50px !important;
    .footer-container {
      padding: 0;
      .footer-row {
        padding: 0;
        .footer-menu-container {
          --background: transparent;
          --border-color: transparent;
          --min-height: 0 !important;
          --max-height: 50px !important;
          .footer-buttons {
            justify-content: center;
            width: 100%;
            .footer-button {
              flex-grow: 1;
              text-align: center;
              color: #fff;
              span,
              ion-icon {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
