.footer {
  .footer-toolbar {
    --background: var(--color-black);
    .footer-container {
      .footer-row {
        .footer-menu-container {
          --background: transparent;
          --border-color: transparent;
          .footer-buttons {
            justify-content: center;
            width: 100%;
            .footer-button {
              flex-grow: 1;
              text-align: center;
              color: #fff;
              span,
              ion-icon {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
