@import "variables";
@import "mixins";

@import "components/Header";
@import "components/Footer";
@import "pages/Login";
@import "pages/Signup";
@import "pages/Profile";
@import "pages/Home";

.page-container {
  max-width: 75%;
  float: none;
  margin: 0 auto;
  --padding-start: 1rem;
  --padding-end: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.page-title {
  text-align: center;
}
