.mt0 {
  margin-top: 0;
}
.mb0 {
  margin-bottom: 0;
}
.ml0 {
  margin-left: 0;
}
.mr0 {
  margin-right: 0;
}

.mt1 {
  margin-top: 1em;
}
.mb1 {
  margin-bottom: 1em;
}
.ml1 {
  margin-left: 1em;
}
.mr1 {
  margin-right: 1em;
}

.pt0 {
  padding-top: 0;
}
.pb0 {
  padding-bottom: 0;
}
.pr0 {
  padding-left: 0;
}
.pl0 {
  padding-left: 0;
}
.pt1 {
  padding-top: 1em;
}
.pb1 {
  padding-bottom: 1em;
}
.pr1 {
  padding-left: 1em;
}
.pl1 {
  padding-left: 1em;
}

.blue {
  color: var(--color-blue) !important;
  --color: var(--color-blue) !important;
}
.background-blue {
  background-color: var(--color-blue);
  --background: var(--color-blue) !important;
  --border-color: var(--color-blue) !important;
}
.orange {
  color: var(--color-orange) !important;
  --color: var(--color-orange) !important;
}
.purple {
  color: var(--color-purple) !important;
  --color: var(--color-purple) !important;
}
.red {
  color: var(--color-red) !important;
  --color: var(--color-red) !important;
}
.green {
  color: var(--color-green) !important;
  --color: var(--color-green) !important;
}
.black {
  color: var(--color-black) !important;
  --color: var(--color-black) !important;
}
.grey {
  color: var(--color-grey) !important;
  --color: var(--color-grey) !important;
}
.white {
  color: var(--color-white) !important;
  --color: var(--color-white) !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}
