.mt0 {
  margin-top: 0;
}
.mb0 {
  margin-top: 0;
}
.ml0 {
  margin-left: 0;
}
.mr0 {
  margin-right: 0;
}

.mt1 {
  margin-top: 1em;
}
.mb1 {
  margin-bottom: 1em;
}
.ml1 {
  margin-left: 1em;
}
.mr1 {
  margin-right: 1em;
}

.pt0 {
  padding-top: 0;
}
.pb0 {
  padding-top: 0;
}
.pr0 {
  padding-left: 0;
}
.pl0 {
  padding-left: 0;
}

.blue {
  color: var(--color-blue);
  --color: var(--color-blue);
}
.background-blue {
  background-color: var(--color-blue);
  --background: var(--color-blue) !important;
  --border-color: var(--color-blue) !important;
}
.orange {
  color: var(--color-orange);
}
.purple {
  color: var(--color-purple);
}
.red {
  color: var(--color-red);
}
.green {
  color: var(--color-green);
}
.black {
  color: var(--color-black);
}

.text-left {
  text-align: left;
}
